<!DOCTYPE html>
<html lang="en">

<head>
    {# Cargamos la librería #}
    {% load bootstrap4 %}
    {# CSS Bootstrap #}
    {% bootstrap_css %}

    {# Widget Tweaks #}
    {% load widget_tweaks %}

    {# Archivos #}
    {% load static %} <!-- STATIC_URL -->
    <title>Editar Usuario · {{ user.username }}</title>
    <link rel="shortcut icon" href="../../../media/icono/feliz.png" type="image/x-icon">

    <style>
        .container {
            justify-content: center;
        }
    </style>
</head>

<body>
    <div class="container d-flex mt-5">
        <div class="col-lg-6 justify-content-center">
            <h1 class="text-center mb-4">Actualizar Usuario</h1>
            <form class="was-validated" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- Importamos la biblioteca 'widget_tweaks' -->
                {% load widget_tweaks %}
                <div class="form-group">
                    {{ form.username|add_class:"form-control"|attr:"placeholder:Escribir un nombre"}}
                    <div class="invalid-feedback">No se ha puesto un nombre válido</div>
                    {% if form.username.errors %}
                    <ul class="errorlist">
                        {% for error in form.username.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email|add_class:"form-control"|attr:"placeholder:Escribir un email"}}
                    <div class="invalid-feedback">No se ha puesto un email válido</div>
                    {% if form.email.errors %}
                    <ul class="errorlist">
                        {% for error in form.email.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.cel|add_class:"form-control"|attr:"placeholder:Escribir un numero telefónico"}}
                    <div class="invalid-feedback">No se ha puesto un número telefónico válido</div>
                    {% if form.cel.errors %}
                    <ul class="errorlist">
                        {% for error in form.cel.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="custom-file ">
                    {{ form.foto_video|add_class:"custom-file-input"|attr:"accept:image/*"|attr:'required'}}
                    <label class="custom-file-label" for="validatedCustomFile">Elegir archivo...</label>
                    <div class="invalid-feedback">No se ha seleccionado ningún archivo</div>
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <button type="submit" class="btn btn-primary mr-3">Aceptar</button>
                    <a href="../" type="submit" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
            {# JS y jQuery Bootstrap #}
            {% bootstrap_javascript jquery='full' %}
        </div>
    </div>
</body>

</html>